<h2>Hello. I'm Michael</h2>
<p><img src="https://avatars1.githubusercontent.com/u/8119338?v=3&s=460" width="80px" height="80px" alt="Michael Scarlett" title="Follow me on Twitter @mscarlett"  class="img-rounded floatLeft" />			
I am passionate about tech, data science, and programming as a hobby. I work as a software developer at InSilico Medicine.</p>					
<p><a href="https://twitter.com/mike_scarlett_" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mike_scarlett_</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/mscarlett" rel="me" class="social github" title="Go to github.com/mscarlett" target="_blank"></a></li>
	  <li><a href="https://www.linkedin.com/pub/michael-scarlett/65/208/2a4" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/mike_scarlett_" rel="me" class="social twitter" title="Go to twitter.com/mike_scarlett_" target="_blank"></a></li>
	  <li><a href="https://github.com/mscarlett/mscarlett.github.io/issues/new" rel="me" class="social mail" title="Leave a message for Michael"  target="_blank"></a></li>				
	</ul>
</p>