<div class="navbar navbar-static-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://mscarlett.github.io">Yet another blog</a>
	  <nav class="nav-collapse">
		<ul class="nav">		  
		  <li>
			<a href="http://mscarlett.github.io"><i class="icon-home">Home</i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"><b class="caret">Social</b></i></a>
				<ul class="dropdown-menu">
				    <li><a href="http://www.twitter.com/mike_scarlett_" rel="tooltip" title="Go to twitter.com/mike_scarlett_" target="_blank">Twitter</a></li>
					<li><a href="http://github.com/mscarlett" rel="tooltip" title="Go to github.com/mscarlett" target="_blank">GitHub</a></li>
					<li><a href="https://www.linkedin.com/pub/michael-scarlett/65/208/2a4" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>										
                    <li><a href="https://www.facebook.com/M.ScarlettFever" rel="tooltip" title="Go to Facebook profile" target="_blank">Facebook</a></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"><b class="caret">Projects</b></i></a>
				<ul class="dropdown-menu">					
					<li><a href="https://github.com/mscarlett/Skydiver-3D" rel="tooltip" title="Go to Skydiver-3D on GitHub" target="_blank">Skydiver 3D</a></li>	
					<li><a href="https://github.com/mscarlett/ssh-genie" rel="tooltip" title="Go to ssh genie on GitHub" target="_blank">SSH Genie</a></li>					
					<li><a href="https://github.com/mscarlett/Seizure-Prediction" rel="tooltip" title="Go to Seizure-Prediction on GitHub" target="_blank">Kaggle Seizure Prediction</a></li>
				</ul>
			 </li>			
		</ul>		
	  </nav>
	</div>
  </div>
</div>
